


.game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn {
    width: 260px;
    max-width: 90%;
    padding: 12px;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}
